<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recuperar Senha</title>
</head>
<body>
    <h2>Redefinir Senha</h2>
    <p style="color: red;" th:if="${erro}" th:text="${erro}"></p>
    
    <form action="/reset-senha" method="post">
        <label>Informe seu Email cadastrado:</label>
        <input type="email" name="email" required/><br/><br/>
        
        <label>Nova Senha:</label>
        <input type="password" name="novaSenha" required/><br/><br/>
        
        <button type="submit">Alterar Senha</button>
    </form>
    <br/>
    <a href="/login">Voltar ao Login</a>
</body>
</html>